<div class="dm-page layout fit vertical">
    <h1>ngx-dm-dialog demo</h1>
    <div class="layout flex relative">

        <div class="dm-panel layout fit">
            <div class="dm-panel-left layout" [style.width.px]="divider['d1'].size">
                <div class="layout flex relative">
                    <div class="dm-panel-left-options layout vertical fit scroll">
                        <b class="fs-l">Dialog options:</b>
                        <div class="layout center">
                            <span>Attach&nbsp;to:</span>
                            <nz-select style="width: 180px" [(ngModel)]="attachTo">
                                <nz-option [nzValue]="null" nzLabel="<body>"></nz-option>
                                <nz-option [nzValue]="rightPanel" nzLabel="#rightPanel"></nz-option>
                                <nz-option nzValue="#rightPanel" nzLabel="id='rightPanel'"></nz-option>
                            </nz-select>
                        </div>
                        <div class="layout center">
                            <span>Position:</span>
                            <nz-select style="width: 180px" [(ngModel)]="config.position">
                                <nz-option nzValue="point" nzLabel="point"></nz-option>
                                <nz-option nzValue="center" nzLabel="center"></nz-option>
                                <nz-option nzValue="fill" nzLabel="fill"></nz-option>
                            </nz-select>
                        </div>
                        <div *ngIf="config.position == 'fill' || config.position == 'point'" class="layout center">
                            <span>Position&nbsp;padding:</span>
                            <nz-input-number [nzMin]="0" [nzMax]="100" [nzStep]="1" [(ngModel)]="config.positionPadding"></nz-input-number>
                        </div>
                        <label class="mt2" nz-checkbox [(ngModel)]="config.backdrop">Show backdrop</label>
                        <div *ngIf="config.backdrop" class="layout center">
                            <span>Backdrop&nbsp;opacity:</span>
                            <nz-input-number [nzMin]="0" [nzMax]="1" [nzStep]=".01" [(ngModel)]="config.backdropOpacity"></nz-input-number>
                        </div>
                        <div *ngIf="config.backdrop" class="layout center">
                            <span>Backdrop&nbsp;class:</span>
                            <input nz-input [(ngModel)]="config.backdropClass">
                        </div>
                        <div class="layout center mt2">
                            <span>Content&nbsp;width:</span>
                            <nz-input-number [(ngModel)]="config.dialogContentMinWidth" nzPlaceHolder="min"></nz-input-number>
                            <span class="mh025">-</span>
                            <nz-input-number [(ngModel)]="config.dialogContentMaxWidth" nzPlaceHolder="max"></nz-input-number>
                        </div>
                        <div class="layout center">
                            <span>Content&nbsp;height:</span>
                            <nz-input-number [(ngModel)]="config.dialogContentMinHeight" nzPlaceHolder="min"></nz-input-number>
                            <span class="mh025">-</span>
                            <nz-input-number [(ngModel)]="config.dialogContentMaxHeight" nzPlaceHolder="max"></nz-input-number>
                        </div>
                        <label class="mt2" nz-checkbox [(ngModel)]="config.animOpen">Open animation</label>
                        <div *ngIf="config.animOpen" class="layout center">
                            <span>Duration:</span>
                            <nz-input-number [nzMin]="0" [(ngModel)]="config.animOpenDuration" nzPkaceholder="ms"></nz-input-number>
                        </div>
                        <div *ngIf="config.animOpen" class="layout center">
                            <span>Function:</span>
                            <input nz-input [(ngModel)]="config.animOpenFn" nzPkaceholder="linear">
                        </div>
                        <label class="mt2 ml0" nz-checkbox [(ngModel)]="config.animClose">Close animation</label>
                        <div *ngIf="config.animClose" class="layout center">
                            <span>Duration:</span>
                            <nz-input-number [nzMin]="0" [(ngModel)]="config.animCloseDuration" nzPkaceholder="ms"></nz-input-number>
                        </div>
                        <div *ngIf="config.animClose" class="layout center">
                            <span>Function:</span>
                            <input nz-input [(ngModel)]="config.animCloseFn" nzPkaceholder="linear">
                        </div>
                        <div class="layout center mt2">
                            <span>Host&nbsp;class:</span>
                            <input nz-input [(ngModel)]="config.hostClass">
                        </div>
                        <div class="layout center">
                            <span>Dialog&nbsp;class:</span>
                            <input nz-input [(ngModel)]="config.dialogClass">
                        </div>
                        <label nz-checkbox class="ml0 mt2" [(ngModel)]="config.dialogDraggable">Draggable</label>
                        <!-- <label nz-checkbox class="ml0" [(ngModel)]="config.dialogResizable">Resizable</label> -->
                        <label nz-checkbox class="ml0" [(ngModel)]="config.dialogShowCloseButton">Close button</label>
                        <label nz-checkbox class="ml0" [(ngModel)]="config.dialogShowMaximizeButton">Maximize button</label>
                        <label nz-checkbox class="ml0" [(ngModel)]="config.dialogKeepInBoundaries">Keep in boundaries</label>
                        <button class="mt2" nz-button nzType="primary" (click)="showDialog($event, 1)">Show dialog</button>
                        <button class="mb2" nz-button nzType="primary" (click)="showDialog($event, 2)">Show custom dialog</button>
                        <button nz-button nzType="danger" (click)="clearDialogs()">Remove all dialogs</button>
                    </div>
                </div>
                <div dm-divider class="dm-divider-vert layout center-center" style="width: 12px"
                    [class.dm-divider-moving]="divider['d1'].moving"
                    (dmDividerDragStart)="dividerDragStart('d1', $event)"
                    (dmDividerDragEnd)="dividerDragEnd('d1', $event)"
                    (dmDividerMove)="dividerMove('d1', $event)">
                    <div class="dm-divider-inner"></div>
                </div>
            </div>

            <div id="rightPanel" class="layout flex vertical relative" #rightPanel>
                <div class="layout flex">
                    <div class="layout flex center-center">
                        <button class="mt2" nz-button nzType="primary" (click)="showDialog($event, 1)">Show dialog</button>
                    </div>
                    <div class="layout flex center-center">
                        <button class="mt2" nz-button nzType="primary" (click)="showDialog($event, 1)">Show dialog</button>
                    </div>
                </div>
                <div class="layout flex center-center">
                    <button class="mt2" nz-button nzType="primary" (click)="showDialog($event, 1)">Show dialog</button>
                </div>
                <div class="layout flex">
                    <div class="layout flex center-center">
                        <button class="mt2" nz-button nzType="primary" (click)="showDialog($event, 1)">Show dialog</button>
                    </div>
                    <div class="layout flex center-center">
                        <button class="mt2" nz-button nzType="primary" (click)="showDialog($event, 1)">Show dialog</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
