<div class="dm-page layout fit vertical">
    <h1>ngx-dm-dialog demo</h1>
    <div class="layout flex relative">

        <div class="dm-panel layout fit">
            <div class="dm-panel-left layout" [style.width.px]="divider['d1'].size">
                <div class="layout flex relative">
                    <div class="layout vertical fit scroll">
                        <b class="mb1 fs-l">Dialog options:</b>
                        <div class="layout center">
                        </div>
                        <button class="mt1" nz-button nzType="primary" (click)="showDialog1($event)">Show dialog attached to &lt;body&gt;</button>
                        <button class="mt1" nz-button nzType="primary" (click)="showDialog1($event, rightPanel)">Show dialog attached to #rightPanel</button>
                        <button class="mt1" nz-button nzType="primary" (click)="showDialog1($event, '#rightPanel')">Show dialog attached to id="rightPanel"</button>
                        <button class="mt1" nz-button nzType="danger" (click)="clearDialogs()">Remove all dialogs</button>
                    </div>
                </div>
                <div dm-divider class="dm-divider-vert layout center-center" style="width: 12px"
                    [class.dm-divider-moving]="divider['d1'].moving"
                    (dmDividerDragStart)="dividerDragStart('d1', $event)"
                    (dmDividerDragEnd)="dividerDragEnd('d1', $event)"
                    (dmDividerMove)="dividerMove('d1', $event)">
                    <div class="dm-divider-inner"></div>
                </div>
            </div>

            <div id="rightPanel" class="layout flex relative" #rightPanel>
                <div class="fit scroll">
                    

                </div>
            </div>
        </div>

    </div>
</div>
